@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');



body {
    background-color: #fada5e;
}



/*----------------------------------header------------*/

.title {
    text-align: center;
    background-color: #fada5e;
    padding: 15px;
    letter-spacing: 20px;
    margin: auto 0px;
    max-width: 100%;
    font-family: 'Rock Salt', cursive;
    text-transform: uppercase;
}


/*-------------------------------Menu-------------------*/

.menu {
    margin-top: 5px;

}

/*-------------------------------photos-------------*/

.photos {
    background-color: #2e5090;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 0;
    letter-spacing: 3px;
    max-width: 100%;
    font-family: 'Rock Salt', cursive;
    

}

.photos i {
    color: #fafafa;
    font-size: 35px;
}

.photos span {
    color: #fafafa;
    font-size: 6px;
}


/*----------------------------------------VIDEOS-------------*/

.videos {
    background-color: #ff8243;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 0;
    letter-spacing: 3px;
    max-width: 100%;
    font-family: 'Rock Salt', cursive;
    
}

.videos i {
    color: #fafafa;
    font-size: 35px;
}

.videos span {
    color: #fafafa;
    font-size: 6px;
}

/*------------------------Music-------------*/

.music {
    background-color: #b3f16b;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 0;
    letter-spacing: 3px;
    max-width: 100%;
    font-family: 'Rock Salt', cursive;
    
}

.music i {
    color: #fafafa;
    font-size: 35px;
}

.music span {
    color: #fafafa;
    font-size: 6px;
}


/*--------------------------------contact----------------------*/

.contact {
    background-color: #b3000c;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 0;
    letter-spacing: 3px;
    max-width: 100%;
    font-family: 'Rock Salt', cursive;
    
}

.contact i {
    color: #fafafa;
    font-size: 35px;
}

.contact span {
    color: #fafafa;
    font-size: 6px;
}

/*------------------------------------hover------------------------------*/

.photos:hover , .music:hover, .videos:hover, .contact:hover {
    background-color: black;
    

}




/*---------------------------------------------Section-----------------------*/

.social-media {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    
}



.youtube {
    display: block;
    font-size: 10px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;

}

.youtube i {
    color: black;
    font-size: 65px;

}

.facebook {
    display: block;
    font-size: 10px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;

}

.facebook i {
    color: black;
    font-size: 65px;

}

.instagram {
    display: block;
    font-size: 10px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}


.instagram i {
    color: black;
    font-size: 65px;

}





/*--------------------------------------------------------------------------*/

.content {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    
}

.content img {
    text-align: center;
    
}

.records {
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 45px;
    margin-right: 20px;
    color: black;
    
   
}







/*--------------------------------footer-details-------------------*/

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

}

.footer-details {
    background-color: #fada5e;
    font-family: 'Rock Salt', cursive;
    font-size: 8px;
    text-align: center;
    letter-spacing: 2px;
}

#footer {
    font-size: 10px;
    font-weight: bolder;

}



@media (min-width: 240px){
    {
        margin: 0 auto;
        max-width: 100%;
        min-height: 240px;
    }
}
